.minigameUI_card {
    width:min(720px, 80vw);
      border-radius:18px;
      padding:40px clamp(28px, 1vw, 400px);
      background:
        linear-gradient(180deg, rgba(255,255,255,.08), rgba(255,255,255,.02)) padding-box,
        radial-gradient(120% 140% at 100% 0%, rgba(224,133,0,.30), transparent 40%) padding-box,
        radial-gradient(120% 140% at 0% 100%, rgba(0,95,163,.35), transparent 40%) padding-box;
      box-shadow:
        0 10px 30px rgba(0,0,0,.45),
        inset 0 1px 0 rgba(255,255,255,.06);
      backdrop-filter: blur(14px) saturate(120%);
      border:1px solid rgba(255,255,255,.10);
    }
.section-row {
  display: flex;
  gap: 24px; /* ระยะห่างระหว่าง section */
}
.section-row section {
  flex: 1; /* ให้แต่ละ section กว้างเท่ากัน */
}

    .btn_submitgame{
      --_ring: rgba(0,95,163,.38);
      padding:24px 220px;
      border:0;
      border-radius:12px;
      font: 700 26px/1 "Inter", system-ui, sans-serif;
      letter-spacing:.01em;
      color:var(--white);
      background: linear-gradient(90deg, var(--blue-600), var(--orange-500));
      box-shadow:
        0 8px 24px rgba(0,0,0,.45),
        0 0 0 0 var(--_ring);
      cursor:pointer;
      transition: transform .06s ease, box-shadow .2s ease, filter .2s ease;
      display:inline-flex;
      align-items:center;
      gap:10px;
      
    }
    .btn_clear {
      --_ring: rgba(0,95,163,.38);
      padding:24px 220px;
      border:0;
      border-radius:12px;
      font: 700 26px/1 "Inter", system-ui, sans-serif;
      letter-spacing:.01em;
      color:var(--white);
      background: linear-gradient(90deg, var(--blue-600), var(--orange-500));
      box-shadow:
        0 8px 24px rgba(0,0,0,.45),
        0 0 0 0 var(--_ring);
      cursor:pointer;
      transition: transform .06s ease, box-shadow .2s ease, filter .2s ease;
      display:inline-flex;
      align-items:center;
      gap:10px;
    }
    .btn:hover{ filter:saturate(115%) }
    .btn:active{ transform: translateY(1px) }
    .btn:focus-visible{ box-shadow: 0 8px 24px rgba(0,0,0,.45), 0 0 0 6px var(--_ring) }

    .timer-box {
    display: inline-block;
    align-self: flex-start;
    background:
        linear-gradient(180deg, rgba(255,255,255,.08), rgba(255,255,255,.02)) padding-box,
        radial-gradient(120% 140% at 100% 0%, rgba(255, 153, 0, 0.3), transparent 40%) padding-box,
        radial-gradient(120% 140% at 0% 100%, rgba(0,95,163,.35), transparent 40%) padding-box;
      box-shadow:
        0 10px 30px rgba(0,0,0,.45),
        inset 0 1px 0 rgba(255,255,255,.06);
      backdrop-filter: blur(200px) saturate(120%);
      border:1px solid rgba(255,255,255,.10);
    font-size: 2rem;
    font-family: "Inter", "Segoe UI", sans-serif;
    padding: 10px 24px;
    border-radius: 12px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    letter-spacing: 2px;
    user-select: none; /* ป้องกันการเลือกข้อความ */}